
@font-face {
    font-family: 'nothingFont';
    src: url('../font/nothingFont.ttf');
}
*{
    font-family: nothingFont;
    transition: .5s;
    background-color: black;
    color: white;
    scrollbar-color: black;
}

body select{
    width: 100%;
    font-size:larger;
    text-align: center;
    padding: 10px;
    border: dotted rgb(80, 79, 79) 2px;
}
select {
    border: none;
    padding: 10px;
    outline: none;
    scrollbar-color: black;
}
select:hover{
    color: #c80f2e;
}
#countries option{
    font-size: large;
}
.main{
    font-size: 20px;
    text-align: center;
    
}
.main h3{
    color: #c80f2e;
}
.main li{
    list-style: none;
    margin-bottom: 20px;
}
#holidayList{
    margin-left: -42px;
}

::-webkit-scrollbar{
    background-color: black;
}
::-webkit-scrollbar-thumb{
    background-color: #c80f2e;
    border-radius: 5px;
}

@media screen and (max-width: 900px){
    body select{
        font-size:medium;
    }
    #countries option{
        font-size:small;
    }
    .main{
        font-size: 15px;
    }
}

@media screen and (max-width: 600px){
    body select{
        font-size:small;
    }
    #countries option{
        font-size:smaller;
    }
    .main{
        font-size: 10px;
    }
}